<div class="remodal text-left" data-remodal-id="delete-task">
  <button data-remodal-action="close" class="remodal-close"><%= octicon('x') %></button>
  <h2 class="remodal-header text-left">Are you sure you want to delete this?</h2>

  <div class="remodal-description">
    <p>
      This action <strong>CANNOT</strong> be undone.
      This will permanently delete the <strong><%= @task.title %></strong> task from this assignment.
    </p>
  </div>

  <hr>

  <%= form_for [@task.assignment.organization, @task.assignment, @task],
               html: { "data-name" => @task.title, method: 'delete' } do |f| %>
    <dl class="form js-normalize-submit">
      <dt>Please type the title of the task to confirm</dt>
      <dd><input type="text" class="js-input-block" autofocus></dd>
    </dl>

    <%= f.submit 'Delete this task', class: 'btn btn-danger btn-block js-navigation js-submit', disabled: true %>
  <% end %>
</div>
